body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
    display: grid;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Image Styling */
.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #555;
}